<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.saran2020.realmbrowser">


    <application>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_drafts_black_24dp"
            android:label="@string/library_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ResultActivity"
            android:label="@string/label_result"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
